@import 'base/typography';
@import 'base';
@import 'base/b-utilities';

@import 'base/colors';

@import 'components/nav';
@import 'components/home-header';
@import 'components/footer';

main {
  padding-bottom: 10vh;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.card {
  display: none !important;
}

body {
  background-color: #f5f5f5;
}

.js-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: grid;
  list-style: none;
  transition: all 0.2s ease;

  button {
    position: absolute;
    bottom: 20px;
    height: 35px;
    right: 20px;
    width: 35px;
  }

  a {
    color: color(black);
    text-decoration: none;
  }

  &:hover,
  &:focus {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.22), 0 1px 5px rgba(0, 0, 0, 0.34);
    transform: scale(1.03);
  }
}

button {
  &:hover,
  &:focus {
    .js-icon-save {
      opacity: 0;
    }
  }
}

.js-icon-save,
.js-icon-delete {
  position: absolute;
  right: 0;
  top: 0;
}

.js-card__container {
  border-radius: 10px;
  padding: 20px;
  position: relative;

  button {
    border: 0;
    cursor: pointer;
    transition: all 0.2s ease;

    img {
      max-height: 30px;
      max-width: 30px;
    }
    &:hover,
    &:focus {
      transform: scale(1.005);
    }
  }
}

.js-card__img {
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 300px;
  max-width: 100%;
  min-height: 100%;
}

.js-span-half {
  .js-card__img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
.js-span-quarter {
  .js-card__img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.js-card__text {
  word-wrap: break-word;

  h2 {
    font-size: 20px;
    margin-bottom: 16px;
  }

  p {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 16px;
  }
}

.js-news-list,
[data-saved] {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-flow: dense;
  max-width: 1400px;
}

@media screen and (min-width: 601px) {
  .js-card__container {
    border-radius: 0;
  }
}

@media screen and (max-width: 850px) {
  .js-card__img-container {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  .js-span-half {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100%;

    grid-column: span 6;

    .js-card__img {
      height: 100%;
      width: 250px;
    }
  }

  .js-span-quarter {
    grid-column: span 3;

    .js-card__img {
      width: 100%;
      height: 100px;
    }
  }

  .js-news-list,
  [data-saved] {
    grid-gap: 40px;
    grid-template-columns: repeat(12, 1fr);
  }
}

// from Dan Eden's animate.css

.js-fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 0.6s;
  animation-fill-mode: both;
  animation-timing-function: ease;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.js-stretch {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.js-category--highlight {
  background-color: color(blue);
  border-radius: 4px;
  color: white;
  font-weight: 300;
}

.js-span-all {
  grid-column: 1 / -1;
}
